@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

/* ---------------------------- CORE STYLES */

:root {
  --primary-color: rgb(226, 74, 36);
  --secondary-color: rgb(235, 179, 178);
  --tertiary-color: rgb(185, 231, 198);
  --fourth-color: rgb(5, 48, 168);
  --fifth-color: rgb(79, 56, 82);
  --sixth-color: rgb(247, 223, 87);

  --menu-speed: 0.75s;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  background-color: var(--secondary-color);
}


/* ---------------------------- HEADER */

.nav-item {
  display: inline-flex;
  position: relative;
  z-index: 2;
  padding: 10px;
}

.navbar-brand {
  background: url("../images/logo-blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 110px;
  height: 90px;
}

/* Hamburger starts */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 6px;
  background: var(--primary-color); 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 6px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--tertiary-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul {
  padding-left: 0;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: var(--fourth-color);
  font-size: 4rem;
  padding: 1rem;
  text-transform: uppercase;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}


/* ---------------------------- HOMEPAGE */

#intro {
  height: 50vh;
}

#intro h1 {
  margin: 40px 0 0 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
  text-align: center;
}

#intro h1 span {
  font-size: 7em;
  display: inline-block;
  animation: bounce .5s 3;

}

@keyframes bounce {
  0%   {
    transform: translateY(0);
  }
  50%   {
    transform: translateY(-40px);
    /* color: #f7df57; */
  }
  100%   {
    transform: translateY(0);
  }
}

#intro h1 span:nth-child(1){
  animation-delay: .1s;
}
#intro h1 span:nth-child(2){
  animation-delay: .2s;
}
#intro h1 span:nth-child(3){
  animation-delay: .3s;
}
#intro h1 span:nth-child(4){
  animation-delay: .4s;
}
#intro h1 span:nth-child(5){
  animation-delay: .5s;
}

#intro h2 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: var(--primary-color);
}

/* how to play section */

.wave-container-1 {
  background: var(--sixth-color);
}

.wave-container-2 {
  background: var(--secondary-color);
}

.wave-container-1 > svg, .wave-container-2 > svg {
  display: block;
}

.wave-container-1 h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.wave-container-1 h3, p {
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: var(--fifth-color);
}

/* footer */
footer {
  text-align: center;
  margin-bottom: 80px;
}

.play-button {
  font-size: 3em;
  font-weight: 700;
  color: var(--primary-color);
}


/* ---------------------------- GAME PAGE */
  
  * {
    box-sizing: border-box;
  }
  
  html {
    min-height: 100vh;
    cursor: url("assets/cursors/Ghost.cur"), auto;
  }
  
  .page-title {
    color: #FF6D00;
    font-family: Creepy, serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
  }
  
  .game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
  }
  
  .game-info {
    font-family: Lunacy, serif;
    color: #FFBB89;
    font-size: 4em;
  }
  
  .game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
  }
  
  .card {
    position: relative;
    height: 175px;
    width: 125px;
  }
  
  .card:hover {
    cursor: url("assets/cursors/GhostHover.cur"), auto;
  }
  
  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
  }
  
  .card.visible .card-back {
    transform: rotateY(-180deg);
  }
  
  .card.visible .card-front {
    transform: rotateY(0)
  }
  
  .card.matched .card-value {
    animation: dance 1s linear infinite 500ms;
  }
  
  .overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #FF6D00;
    font-family: Creepy, serif;
  }
  
  .overlay-text-small {
    font-size: .3em;
  }
  
  .overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
  }
  
  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 10em;
    }
  }
  
  @keyframes dance {
    0%, 100%  {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-30deg);
    }
    75% {
      transform: rotate(30deg);
    }
  }
  
  .card-back {
    background-color: black;
    border-color: #FF6D00;
  }
  
  .card-front {
    background-color: #FFBB89;
    border-color: #333;
    transform: rotateY(180deg);
  }
  
  .card-value {
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
  }
  
  .card-front:hover .card-value {
    transform: scale(1);
  }
  
  .cob-web {
    position: absolute;
    width: 47px;
    height: 47px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
  }
  
  .card-face:hover .cob-web {
    width: 52px;
    height: 52px;
  }
  
  .cob-web-top-left {
    transform: rotate(270deg);
    top: 0;
    left: 0;
  }
  
  .cob-web-top-right {
    top: 0;
    right: 0;
  }
  
  .cob-web-bottom-left {
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
  }
  
  .cob-web-bottom-right {
    transform: rotate(90deg);
    bottom: 0;
    right: 0;
  }
  
  .spider {
    align-self: flex-start;
    transform: translateY(-10px);
    transition: transform 100ms ease-in-out;
  }
  
  .card-back:hover .spider {
    transform: translateY(0)
  }
  
  @media (max-width: 600px) {
    .game-container {
      grid-template-columns: repeat(2, auto);
    }
  
    .game-info-container {
      flex-direction: column;
      align-items: center;
    }
  }